@import "../../styles/variabales.scss";

.new-todo-input {
  width: 60%;
  height: 60px;
  font-size: 25px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 15px;
  &:focus {
    border: none !important;
    border: 5px solid red;
  }
  @media screen and (max-width: 650px) {
    font-size: 1.25rem;
    width: 90%;
  }
}

.editing {
  width: 800px;
  height: fit-content;
  color: red;
  font-size: 25px;
  padding: 2px;
  margin: 6px 6px 6px 6px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
  @media screen and (max-width: 650px) {
    font-size: 1.25rem;
    width: 70%;
  }
}
