@import "../../styles//variabales.scss";
@import "../../styles/variabales.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin: 0.5rem 0;
}

.text {
  font-size: 1.75rem;
}

.disabled {
  cursor: not-allowed !important;
}

.page {
  font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.125rem $black-soft;
  border-radius: 0.5rem;
  cursor: pointer;
  &.active {
    background-color: $black-soft;
    color: white;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}
