@import "../../styles/variabales.scss";

.container {
  margin: 0 auto;
  max-width: 960px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s;
}
