.description {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  &__item {
    font-size: 1.5rem;
    &_img {
      margin-top: 20px;
    }
  }
}

.features-list__item {
  list-style: square;
}
