.new-todo-input-section {
  margin-bottom: 5px;
}

.todo {
  min-height: 550px;
  margin-bottom: 5px;
}

.hr {
  margin: 5px 0;
  padding: 0;
  height: 2px;
  border: none;
  background: linear-gradient(90deg, rgb(100, 100, 100), #ddd);
}
