@import "../../styles/variabales.scss";

.nav-link {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  &__item {
    font-size: 28px;
    display: block;
    color: white;
    text-align: center;
    padding: 18px 26px;
    text-decoration: none;
    &:hover {
      background-color: #111;
    }
  }

  .active {
    background-color: #04aa6d;
  }
}
